@model ICollection<RequestLogModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @foreach (var log in Model)
    {
        <p>@log.DateTime, @log.Ip, @log.RequestMethod @log.Path @log.QueryString</p>
    }
</div>
